$fuenteprincipal:"Roboto",
sans-serif;
$blanco: #ffffff;
$rojo: rgb(221, 42, 51);
$redweigth: rgb(190, 7, 7);
$black: rgb(0, 0, 0);
$verde: rgb(6, 141, 6);
$verdefuerte: rgb(4, 121, 4);
//Fuentes
$delgada:300;
$regular:500;
$bold:900;